<ion-grid class="px-2">
  <ion-row>
    <ion-col>
      <ion-button class="w-full">(</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">)</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">%</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">÷</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="w-full">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">X</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="w-full">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">-</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="w-full">1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">+</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="w-full">0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">00</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">.</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="w-full">=</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
